h2 {
    list-style: none;
    margin: 0;
}
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-direction: column;
}
.imer-name-app{
    color: white;
    text-align: center;
}
.timer-name-timer{
width: 100%;
font-size: 10px;
background: #6A4CA4;
display: flex;
align-items: center;
align-items: center;
justify-content: space-between;
border-radius: 20px;
font-weight: 100;
padding-top: 10px;
    padding-bottom: 10px;
}
.timer-name-timer-title{
    

padding-left: 15px;
    font-weight: 100;

}
.timer-name-timer-pencil{

padding-right: 15px;
    font-size: 15px;

}