input {
	list-style: none;
}
.tab{
	margin: 20px 0 20px 0;
}
.tab-button{
	min-width: 100%;
	display: flex;
	position: fixed;
	bottom: 20px;
	right: 0;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.tab-button > button {
background: none;
border: 0px;
}

.tab-button-turn-off{
	color: #9B99A4;
}
.tab-button-turn{
display: inline-block;
filter: drop-shadow(0 0 10px #614ECE);
fill: #614ECE;

}