 h2 {
 	list-style: none;
 }
.clock h2{
	font-size: 40px;
}

 .clock {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	align-content: center;
 	margin: 16px;
 	position: relative;
 	width: 300px;
 	height: 300px;
 	background-color: #232230;
 	z-index: -1000;
 	aspect-ratio: 1;
 	border-radius: 50%;
 	transition: 3s;
 }

 .timer {

 	/* position: absolute; */

 	color: white;
 }

 .timer-background-one {
 	transition: 0.5s;
 	z-index: -101;
 	position: absolute;
 	width: 100%;
 	aspect-ratio: 1;
 	border-radius: 50%;
 	background: var(--gradient);
 	--gradient: radial-gradient(closest-side, var(--gradient-one-1) 80%, var(--gradient-one-2));
 	--gradient-one-1: #342E5E;
 	--gradient-one-2: #252338;
 	--pie-b: 3em;
 	mask: radial-gradient(closest-side, rgba(0, 0, 0, 0) calc(99% - var(--pie-b)), rgb(0, 0, 0) calc(100% - var(--pie-b)));
 }

 .clock-timer {
 	z-index: -100;
 	position: absolute;
 	width: 100%;
 	aspect-ratio: 1;
 	border-radius: 50%;
 	transition: --pie-p 1ms linear;
 	background: conic-gradient(var(--gradient-1) var(--pie-p, 0%), #0000 0);
 	/* background-color: var(--gradient); */
 	--gradient: radial-gradient(closest-side, var(--gradient-one-1) 80%, var(--gradient-one-2));
 	--gradient-1: #342E5E;
 	--gradient-2: #302F4F;
 	--pie-b: 3em;
 	mask: radial-gradient(closest-side, #0000 calc(99% - var(--pie-b)), white calc(100% - var(--pie-b)));
 	animation: progress 1s linear infinite
 }

 .timer-background-two {
 	z-index: -99;
 	position: absolute;
 	width: 100%;
 	aspect-ratio: 1;
 	border-radius: 50%;
 	background: conic-gradient(var(--gradient-two-1), var(--gradient-two-2) var(--pie-p, 0%), #0000 0);
 	--gradient-two-1: #8e87df;
 	--gradient-two-2: #270ae4;
 	--pie-b: 3em;
 	mask: radial-gradient(closest-side, #0000 calc(99% - var(--pie-b)), rgb(230, 8, 8) calc(100% - var(--pie-b)), #0000 calc(105% - var(--pie-b)), #0000 100%);
 }

 .timer-slider {
 	z-index: -98;
 	position: absolute;
 	width: 5%;
 	left: 40%;
 	top: 21px;
 	aspect-ratio: 1;
 	border-radius: 50%;
 	width: 10%;
 	margin: 0.5em;
 	background: radial-gradient(white 40%, #654DF9 0);
 }

 .rotate-timer-slider {
 	z-index: -98;
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	aspect-ratio: 1;
 	border-radius: 50%;
 	--pie-p-for-rotate: calc(360*(var(--pie-p))/100);
 	transition: 1s linear;
 	transform: rotate(var(--pie-p-for-rotate))
 }

 ul {
	display: flex;
	justify-content: center;
	align-content:center;
	align-items: center;
	list-style-type: none; 
	padding: 0;
	margin: 0;
  }
  
  li {
	position: relative;
	
  }
  
  /* li:not(:first-child)::before {
	content: "";
	position: absolute; 
	left: 0;
	top: 50%;
	width: 10px; 
	height: 1px; 
	background-color: #000; 
  } */

  .doth-in-progress{
	width: 10px;
	height: 10px;
	content: "";
	aspect-ratio: 1;
	border-radius: 50%;
	background: #1E1B2E;
	border: solid #464FAA 2px ;
  }
  .doth-completed{
	width: 10px;
	height: 10px;
	content: "";
	aspect-ratio: 1;
	border-radius: 50%;
	background: #464FAA;

  }
  .doth-not-completed{
	width: 10px;
	height: 10px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #2D2C3C;
	/* padding: 20px; */

  }

  .line-for-doth-standart{
	content: "";
	left: 0;
	top: 50%;
	width: 2vw; 
	height: 1px; 
	background-color: #2D2C3C; 
	/* padding: 1px; */
  }
  .line-for-doth-nestandart{
	content: "";
	left: 0;
	top: 50%;
	width: 1vw; 
	height: 1px; 
	background-color: #464FAA; 
	/* padding: 1px; */
  }

