.settings-editor-name {
	margin-top: 20px;
}

.settings-editor-name-text {
	width: 100%;
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	margin: 10.5px 0;
	
	
}

.settings-editor-name-input {
	border-radius: 5px;
	font-size: 18px;
	background: #4E40B1;
	color: white;
	border: none;
	padding: 5px;
}
.settings-editor-name-text-title{
	color: white;
    text-align: center;
    font-size: 15px;
}
.settings-editor-name-text-pencil{
	color: white;
    text-align: center;
    font-size: 15px;
}