button {
    list-style: none;
}
.element-timer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.element-timer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
background-color: #664EFE;
border-radius: 50%;
aspect-ratio: 1;
border: 0px;
margin: 20px 0 40px 0;
}

.element-timer-button-icon{
font-size: 35px;
color: white;
}
.element-timer-doth{
    margin: 4px 0 20px 0;
}