.custom-select select {
	width: 100%;
	/* Занимать всю доступную ширину */
	/* overflow: hidden; */
	/* Скрыть лишние опции */
	border: 1px solid #ccc;
	/* Граница для select */
	font-size: 17px;
	/* Минимальный размер шрифта */
	height: 130px;
	/* Высота, достаточная для отображения 5 опций */
}

/* Скрываем полосу прокрутки */
.custom-select select::-webkit-scrollbar {
	display: none;
}

.custom-select option {
	padding: 5px 10px;
	/* Отступы для опций */
	text-align: center;
	/* Центрирование текста */
}